h1 {
  /* 文字の色を#ff0000にしてください */
  color: #ff0000;
}

p {
  /* 文字の色を#0000ffにしてください */
  color: #0000ff;
}

h1 {
  color: #ff0000;
  /* 文字の大きさを40pxにしてください */
  font-size:40px;
  
  /* 文字の種類をserifにしてください */
  font-family:serif;
  
}

p {
  color: #0000ff;
  /* 文字の大きさを20pxにしてください */
  font-size: 20px;
  
  /* 文字の種類を"Lucida Grande"にしてください */
  font-family:"Lucida Grande";
  
}
h1 {
  color: #e6855e;
  font-size: 30px;
  /* 背景の色を#f3f372にしてください */
  background-color:#f3f372;
  
  /* 高さを80pxにしてください */
  height:80px;
  
  /* 幅を200pxにしてください */
  width:200px;
  
}

img {
  /* 高さを50pxにしてください */
  height:50px;
  
  /* 幅を70pxにしてください */
  width:70px;
  
}
li {
  color: #444;
}

/* selectedの文字の色を#ff0000にしてください */
.selected {
  color:#ff0000;
}
